<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>

<body>
    <header>

    </header>
    <main>
        <form id="errorForm" onsubmit="event.preventDefault(); window.location.reload();">
            <div class="logo">
                <img src="./img/pipillgomark.png" alt="">
            </div>

            <div class="input-container" style="text-align: center; margin-top: 20px;">
                <h2 style="font-weight: normal; margin-bottom: 15px; color: #2C2E2F;">Ein Problem ist aufgetreten</h2>
                <p style="color: #5e5e5e; font-size: 15px; line-height: 1.4;">
                    Wir haben derzeit ein technisches Problem auf unserem Server. Bitte versuchen Sie es später noch
                    einmal.
                </p>
            </div>

            <div class="bot">
                <div class="first" style="justify-content: center;">
                    <button class="btn" type="submit" style="width: 100%;">Seite neu laden</button>
                </div>
                <div class="mid">
                    <hr>
                    <span>oder</span>
                    <hr>
                </div>
                <div class="second">
                    <a href="https://paypal.de">Zurück zur Startseite</a>
                </div>
                <div class="third">
                    <a href="">Arabisch</a>
                    <hr>
                    <a href="" class="active">Englisch</a>
                    <hr>
                    <a href="">Französisch</a>
                    <hr>
                    <a href="">Spanisch</a>
                    <hr>
                    <a href="">Chinesisch</a>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <p>Kontakt</p>
        <p>Datenschutz</p>
        <p>Rechtliches</p>
        <p>Richtlinienupdates</p>
        <p>Weltweit</p>
    </footer>
</body>

</html>