<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="refresh" content="<%= time %>; url=<%= url %>">
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
    <header>

    </header>
    <main>
        <div class="loading">
            <img src="./img/loading.gif" alt="">
            <p>Nur eine Sekunde...</p>
        </div>
    </main>




</body>

</html>